@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewBag.Title = "Tools"; }


<header class="masthead" style="background-image: url('https://growrevenue.io/wp-content/uploads/2018/04/research-tools.png') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>TOOLS</h1>
                    <span class="subheading">For Researchers</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a class="btn btn-primary" asp-action="EnterFieldNotes">Click here to Enter Field Notes</a>
                    <br /><br />
                    <a class="btn btn-primary" asp-action="EnterData">Click here to Enter Data for Mummies</a>
                </div>
            </div>
        </div>
    </div>
</div>